.boxf1 {
    border: 16px;
    border-radius: 16px;
}

.cardf1 {
    border-color: #333154;
    max-width: 1000;
    min-width: 236;
    min-height: 300;
}

.cd {
    border: 8px;
    border-radius: 16px;
}

.inpf1 {
    display: block;
    margin: 10px auto;
}

.tyf1 {
    font-size: 10;
    color: white;
}
.btn3 {
    text-transform: none;
    margin-top: -1px;
    border-radius: 0;
    margin-left: -9px;
    background: #434161;
    font-family: monospace;
    min-width: 40px;
    min-height: 42px;
    border: 1;
    border-color: white;
}

.btn3:hover {
    background-color: #4c497e;
    color: white;
}
.handleright{
    background-color: rgb(64, 63, 105);
     border: 1px solid #fff;
     border-radius: 0px 10px 10px 0px;
           height: 100%;
           position: absolute;
           width: 19px;
            right: -20px;
}

.responsegrid{
    background-color: "#1A192B";
 height: 20vh; 
 border: 0.5;
  border-color: #4C497E;
}

.responsegridtitles{
	margin: 5px;
	margin-top: 5px;
	 color: white;
	 font-size: 12px;
}
.logs{
	margin: 2px;
	 color: white;
	  font-size: 10px; 
}

.displayingresponse{
	
            margin: 5px;
             margin-top: 5px;
              height: 75% ;
              color: white;
               font-size: 12px;
               overflow: scroll;
            white-space: nowrap;
}

.doneandediticon{
	color: white;
	 margin-right: -13px;
}
.backhome{
	position: absolute;
    margin-left: 90%
}