.boxLeft {
    text-align: left;
  }
  
  .fontBold {
    font-weight: bold;
  }
  
  .typographystyles {
    margin-bottom: 10px;
    font-size: 9px;
  }
  
  .forbuttons {
    color: white;
    border: 1px solid;
    border-color: #4C497E;
    border-radius: 20px;
  }
  
  .darkcolor {
    background-color: #222138;
  }
  
  .leftbartitle {
    margin-bottom: 1.5;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .leftbar{
    margin-bottom: 1.5;
    font-size: 9px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .rightbar{
    background-color: #333154;
    width: 200px;
     height: 150px;
  }